@model EmployeeManagerWeb.ViewModels.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit " + Model.FirstName + " " + Model.LastName;
}

<div>
  @using (Html.BeginForm("Edit", "Employee"))
  {
      <p>First name: @Html.TextBoxFor(x => x.FirstName) </p>
      <p>Last name: @Html.TextBoxFor(x => x.LastName) </p>
      <p>Date of birth: @Html.EditorFor(x => x.DateOfBirth) </p>
      <p>Department: @Html.DropDownListFor(x => x.Department, Model.Departments) </p>
      <input type="submit" value="Submit" />
  }
</div>
