@model EmployeeManagerWeb.ViewModels.EditDepartmentViewModel

@{
    ViewBag.Title = "Edit " + Model.Name;
}

<div>
  @using (Html.BeginForm("Edit", "Department"))
  {
      @Html.HiddenFor(x => x.DepartmentId)
      <p>Name: @Html.TextBoxFor(x => x.Name) </p>
      <input type="submit" value="Submit" />
  }
</div>
