@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <h2>Departments</h2>
  <div> 
    @foreach (Flagstone.Employees.Department department in Model)
    {
        <p>@department.Name</p>
    }
  </div>
</body>
</html>
